.tree-node {
	-webkit-transition: all 0.5s 0.1s;
    -moz-transition: all 0.5s 0.1s;
    -ms-transition: all 0.5s 0.1s;
    -o-transition: all 0.5s 0.1s;
    transition: all 0.5s 0.1s;
}

.tree-node_label{
	opacity:1;
	-webkit-transition: all 0.5s 0.1s;
    -moz-transition: all 0.5s 0.1s;
    -ms-transition: all 0.5s 0.1s;
    -o-transition: all 0.5s 0.1s;
    transition: all 0.5s 0.1s;
}

.tree-node_item {
	
	stroke: rgba(0,0,255,0.7);
	stroke-width: 4;
	fill: rgba(0,0,255,0.5);
	opacity: 1;
	-webkit-transition: all 0.5s 0.1s;
    -moz-transition: all 0.5s 0.1s;
    -ms-transition: all 0.5s 0.1s;
    -o-transition: all 0.5s 0.1s;
    transition: all 0.5s 0.1s;
}

.tree-node_item:hover {
	fill: rgba(0,0,255,0.65);
}

.tree-node_item:active {
    

	fill: rgba(0,0,255,0.7);

}

#hidden{
	opacity: 0;
}
.polyline {
	fill: rgba(255,255,255,0);
	stroke: red;
	stroke-width:4;
}

.tree-link {
	opacity: 1;
	stroke: rgba(0,0,255,0.5); 
	stroke-width: 3;
	fill: none;
	-webkit-transition: all 0.5s 0.1s;
    -moz-transition: all 0.5s 0.1s;
    -ms-transition: all 0.5s 0.1s;
    -o-transition: all 0.5s 0.1s;
    transition: all 0.5s 0.1s;
    
}